
    body {
      font-family: 'Playfair Display', serif;
      background-color: #f5f5dc; /* beige */
      color: #4e342e; /* marrón oscuro */
    }
    .navbar {
      background-color: #fcf6ea; /* white */
    }
    .navbar-brand, .nav-link {
      color: #c3b57b !important;
    }
    .navbar-brand:hover, .nav-link:hover {
      color: #d4d2c9 !important;
    }
    .hero {
      background: linear-gradient(to right, #c0c0c0, #d4af37); /* plateado a dorado */
      color: white;
      padding: 100px 0;
      text-align: center;
    }
    .services {
      background-color: #fffaf0;
      padding: 60px 0;
    }
    .services h3 {
      color: #6b4c3b;
    }
    .footer {
      background-color: #4e342e;
      color: white;
      padding: 20px 0;
      text-align: center;
    }
    .btn-gold {
      background-color: #d4af37;
      color: white;
    }
    .img1{
    width: 160%;
    height: 110px;
    }
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.footer {
  background-color: #f5f5f5;
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer .social-links {
  margin-top: 10px;
}

.footer .social-links a {
  margin: 0 10px;
  font-size: 28px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer .social-links a:hover {
  color: #e1306c; /* rosado para Instagram */
  transform: scale(1.2);
}

.footer .social-links a[href*="tiktok"]:hover {
  color: #010101; /* negro para TikTok */
}
.card-img-top {
  object-fit: cover;
  height: 300px;
}
.card {
  height: 100%;
}
.btn-servicio {
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-weight: bold;
  padding: 1rem;
}

.btn-servicio:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(81, 49, 49, 0.15);
}

.modal-content {
  border-radius: 15px;
}
.modal-header {
  background-color: #383d42;
  color: white;
  border-bottom: 2px solid #dee2e6;
}

.modal-body ul {
  padding-left: 1.2rem;
}

.modal-body li {
  margin-bottom: 0.5rem;
}
